Flask
Flask-Cors
python-dotenv
gunicorn
pyway
pandas
numpy
joblib
mysql-connector-python
pytest
pytest-cov
pytest-mock
werkzeug
scikit-learn
pillow
requests
matplotlib
pymongo
SQLAlchemy
pymysql
cryptography
