Flask
Flask-Cors
uvicorn
python-dotenv
gunicorn
pyway
apache-airflow
pandas
mysql-connector-python
pytest
pytest-cov
pytest-mock
werkzeug
scikit-learn
mistralai
transformers
torch
pillow
requests
matplotlib
fastapi
uvicorn[standard]
requests
pymongo
SQLAlchemy
pymysql